<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192057623313-62juf8act85noblu4s7vl28g3mtqfk12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192057623313-62juf8act85noblu4s7vl28g3mtqfk12</string>
	<key>API_KEY</key>
	<string>AIzaSyA7A1w353mz_Bzfnhv_TtuCzSBduDasNso</string>
	<key>GCM_SENDER_ID</key>
	<string>192057623313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>andrey-cheremisin.CarJournal</string>
	<key>PROJECT_ID</key>
	<string>carjournal-58873</string>
	<key>STORAGE_BUCKET</key>
	<string>carjournal-58873.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192057623313:ios:0bf57a14b333054eb602b0</string>
</dict>
</plist>